[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"discord.py" = {git = "git://github.com/Rapptz/discord.py.git", extras = ["voice"]}
youtube_dl = "*"
imgurpython = "*"
Pillow = "*"


[dev-packages]



[requires]

python_version = "3.6"
